{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Новости{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container">
            <header class="section__header header-center">
                <h1 class="section__title h2">Новости</h1>
                {% if user.is_authenticated and user.is_superuser or user.is_authenticated and user.profile.role == 'manager' %}
                    <a href="{% url 'shop:news_create' %}" class="catalog__button button button-add">Добавить новость</a>
                {% endif %}
            </header>
            <div class="section__body">
                <div class="all-news">
                    <div class="all-news__selection">
                                <div class="all-news__selection-inputs">
                                    <label for="search" class="visually-hidden">Поиск</label>
                                    <input 
                                        type="text"
                                        class="all-news__input input"
                                        id="search"
                                        placeholder="Поиск"
                                    >
                                    <label for="date-select" class="visually-hidden"></label>
                                    <select id="date-select" class="all-news__select select">
                                        <option value="newest" selected>Сначала новые</option>
                                        <option value="oldest">Сначала старые</option>
                                    </select>
                                </div>
                                    <button 
                                        class="all-news__button button" 
                                        type="submit"
                                    >
                                        Применить
                                    </button>
                    </div>
                    <div class="all-news__main">
                        <button 
                            class="news__button button button-arrow"
                            type="button"
                        >
                            <
                        </button>
                        <ul class="news__list grid grid--2">
                            {% for n in news_list %}
                                    <li class="news__item">
                                            <article class="news-card">
                                                {% if n.image %}
                                                    <img src="{{ n.image.url }}" alt="{{ n.title }}" class="news-card__image" width="500" height="400" loading="lazy">
                                                {% else %}
                                                    <img src="{% static 'images/image.png' %}" alt="{{ n.title }}" class="news-card__image">
                                                {% endif %}
                                                <div class="news-card__body">
                                                    <h3 class="news-card__title">{{ n.title }}</h3>
                                                    <div class="news-card__date"><time datetime="{{ n.published_at }}">{{ n.published_at }}</time></div>
                                                    <div class="news-card__description">{{ n.content|truncatechars:150 }}</div>
                                                    <a href="{% url 'shop:news_detail' n.pk %}" class="news-card__link">Читать далее</a>
                                                    {% if user.is_authenticated and user.is_superuser or user.is_authenticated and user.profile.role == 'manager' %}
                                                        <div class="news-card__admin">
                                                            <a href="{% url 'shop:news_edit' n.pk %}" class="button">Редактировать</a>
                                                            <form action="{% url 'shop:news_delete' n.pk %}" method="post" style="display:inline">
                                                            {% csrf_token %}
                                                            <button class="button button-delete">Удалить</button>
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                </div>   
                                            </article>
                                    </li>
                                 {% empty %}
                                    <li>Новостей пока нет.</li>
                                {% endfor %}

                        </ul>
                        <button 
                            class="news__button button button-arrow"
                            type="button"
                        >
                            >
                        </button>
                    </div>
                    <div class="all-news__pagination pagination">
                                <ul class="pagination__list">
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button is-current"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Первый слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Второй слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Третий слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                        </button>
                                    </li>    
                                </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}