{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Новости{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container">
            <header class="section__header header-center">
                <h1 class="section__title h2">Новости</h1>
                {% if user.is_staff or user.is_superuser %}
                    <button 
                        class="catalog__button button button-add"
                        type="submit"
                    >
                        Добавить новость
                    </button>
                {% endif %}
            </header>
            <div class="section__body">
                <div class="all-news">
                    <div class="all-news__selection">
                                <div class="all-news__selection-inputs">
                                    <label for="search" class="visually-hidden">Поиск</label>
                                    <input 
                                        type="text"
                                        class="all-news__input input"
                                        id="search"
                                        placeholder="Поиск"
                                    >
                                    <label for="date-select" class="visually-hidden"></label>
                                    <select id="date-select" class="all-news__select select">
                                        <option value="newest" selected>Сначала новые</option>
                                        <option value="oldest">Сначала старые</option>
                                    </select>
                                </div>
                                    <button 
                                        class="all-news__button button" 
                                        type="submit"
                                    >
                                        Применить
                                    </button>
                    </div>
                    <div class="all-news__main">
                        <button 
                            class="news__button button button-arrow"
                            type="button"
                        >
                            <
                        </button>
                        <ul class="news__list grid grid--3">
                                    <li class="news__item">
                                            <article class="news-card">
                                                <img 
                                                    src="../static/images/news_1.jpg" 
                                                    alt="" 
                                                    class="news-card__image"
                                                    width="500" height="400" loading="lazy"
                                                >
                                                <div class="news-card__body">
                                                    <h3 class="news-card__title">
                                                        <p>title</p>
                                                    </h3>
                                                    <div class="news-card__date">
                                                        <p><time datetime="10.12.2025">10.12.25</time></p>
                                                    </div>
                                                    <div class="news-card__description">
                                                        <p>descr</p>
                                                    </div>
                                                    <a href="/" class="news-card__link">
                                                        <span class="visually-hidden">Увидеть новость полностью</span>
                                                    </a>
                                                </div>   
                                            </article>
                                    </li>
                                    <li class="news__item">
                                            <article class="news-card">
                                                <img 
                                                     src="../static/images/news_1.jpg" 
                                                    alt="" 
                                                    class="news-card__image"
                                                    width="500" height="400" loading="lazy"
                                                >
                                                <div class="news-card__body">
                                                    <h3 class="news-card__title">
                                                        <p>title</p>
                                                    </h3>
                                                    <div class="news-card__date">
                                                        <p><time datetime="10.12.2025">10.12.25</time></p>
                                                    </div>
                                                    <div class="news-card__description">
                                                        <p>descr</p>
                                                    </div>
                                                    <a href="/" class="news-card__link">
                                                        <span class="visually-hidden">Увидеть новость полностью</span>
                                                    </a>
                                                </div>   
                                            </article>
                                    </li>
                                    <li class="news__item">
                                            <article class="news-card">
                                                <img 
                                                     src="../static/images/news_1.jpg" 
                                                    alt="" 
                                                    class="news-card__image"
                                                    width="500" height="400" loading="lazy"
                                                >
                                                <div class="news-card__body">
                                                    <h3 class="news-card__title">
                                                        <p>title</p>
                                                    </h3>
                                                    <div class="news-card__date">
                                                        <p><time datetime="10.12.2025">10.12.25</time></p>
                                                    </div>
                                                    <div class="news-card__description">
                                                        <p>descr</p>
                                                    </div>
                                                    <a href="/" class="news-card__link">
                                                        <span class="visually-hidden">Увидеть новость полностью</span>
                                                    </a>
                                                </div>   
                                            </article>
                                    </li>
                                    <li class="news__item">
                                            <article class="news-card">
                                                <img 
                                                     src="../static/images/news_1.jpg" 
                                                    alt="" 
                                                    class="news-card__image"
                                                    width="500" height="400" loading="lazy"
                                                >
                                                <div class="news-card__body">
                                                    <h3 class="news-card__title">
                                                        <p>title</p>
                                                    </h3>
                                                    <div class="news-card__date">
                                                        <p><time datetime="10.12.2025">10.12.25</time></p>
                                                    </div>
                                                    <div class="news-card__description">
                                                        <p>descr</p>
                                                    </div>
                                                    <a href="/" class="news-card__link">
                                                        <span class="visually-hidden">Увидеть новость полностью</span>
                                                    </a>
                                                </div>   
                                            </article>
                                    </li>
                                    <li class="news__item">
                                            <article class="news-card">
                                                <img 
                                                     src="../static/images/news_1.jpg" 
                                                    alt="" 
                                                    class="news-card__image"
                                                    width="500" height="400" loading="lazy"
                                                >
                                                <div class="news-card__body">
                                                    <h3 class="news-card__title">
                                                        <p>title</p>
                                                    </h3>
                                                    <div class="news-card__date">
                                                        <p><time datetime="10.12.2025">10.12.25</time></p>
                                                    </div>
                                                    <div class="news-card__description">
                                                        <p>descr</p>
                                                    </div>
                                                    <a href="/" class="news-card__link">
                                                        <span class="visually-hidden">Увидеть новость полностью</span>
                                                    </a>
                                                </div>   
                                            </article>
                                    </li>
                                    <li class="news__item">
                                        <article class="news-card">
                                            <img 
                                                src="/images/news_1.jpg" 
                                                alt="" 
                                                class="news-card__image"
                                                width="500" height="400" loading="lazy"
                                            >
                                            <div class="news-card__body">
                                                <h3 class="news-card__title">
                                                    <p>title</p>
                                                </h3>
                                                <div class="news-card__date">
                                                    <p><time datetime="10.12.2025">10.12.25</time></p>
                                                </div>
                                                <div class="news-card__description">
                                                    <p>descr</p>
                                                </div>
                                                <a href="/" class="news-card__link">
                                                    <span class="visually-hidden">Увидеть новость полностью</span>
                                                </a>
                                            </div>   
                                        </article>
                                    </li>
                                    <li class="news__item">
                                        <article class="news-card">
                                            <img 
                                                src="/images/news_1.jpg" 
                                                alt="" 
                                                class="news-card__image"
                                                width="500" height="400" loading="lazy"
                                            >
                                            <div class="news-card__body">
                                                <h3 class="news-card__title">
                                                    <p>title</p>
                                                </h3>
                                                <div class="news-card__date">
                                                    <p><time datetime="10.12.2025">10.12.25</time></p>
                                                </div>
                                                <div class="news-card__description">
                                                    <p>description</p>
                                                </div>
                                                <a href="/" class="news-card__link">
                                                    <span class="visually-hidden">Увидеть новость полностью</span>
                                                </a>
                                            </div>   
                                        </article>
                                    </li>
                        </ul>
                        <button 
                            class="news__button button button-arrow"
                            type="button"
                        >
                            >
                        </button>
                    </div>
                    <div class="all-news__pagination pagination">
                                <ul class="pagination__list">
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button is-current"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Первый слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Второй слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Третий слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                        </button>
                                    </li>    
                                </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}