{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Корзина{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container section-blue">
            <header class="section__header header-center">
                <h1 class="section__title h2">Корзина</h1>
            </header>
            <div class="section__body">
                <div class="cart">
                    {% if not user.is_authenticated %}
                        <p>Чтобы использовать корзину, войдите в аккаунт или <a href="{% url 'accounts:register' %}">зарегистрируйтесь</a>.</p>
                    {% else %}
                        <ul class="cart-cards_list">
                            <li class="cart-cards_item">
                                <div class="cart-card">
                                    <img 
                                        src="../static/images/catalog/product1.jpg" 
                                        alt="" 
                                        class="cart-card__image"
                                        width="250" height="250" loading="lazy"
                                    >
                                    <div class="cart-card__info">
                                        <div class="cart-card__info-left">
                                            <h3 class="cart-card__title">Название товара</h3>
                                            <p class="categorie">Категория</p>
                                            <button 
                                                class="cart-card__button button button-delete"
                                                type="button"
                                            >
                                                Удалить
                                            </button>
                                        </div>
                                        <ul class="cart-card__info-list">
                                            <li class="cart-card__info-item">
                                                <label for="price" class="cart-card__price">Цена, ₽</label>
                                                <p id="price" class="cart-card__price">55555</p>
                                            </li>
                                            <li class="cart-card__info-item">
                                                <label for="count" class="cart-card__count">Количество</label>
                                                <input 
                                                    type="numeric"
                                                    class="cart-card__count-input input"
                                                    id="count"
                                                    placeholder="шт"
                                                >
                                            </li>
                                            <li class="cart-card__info-item">
                                                <label for="amount" class="cart-card__info-amount">Стоимость</label>
                                                <p id="amount" class="cart-card__amount">65464</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-cards_item">
                                <div class="cart-card">
                                    <img 
                                        src="../static/images/catalog/product1.jpg" 
                                        alt="" 
                                        class="cart-card__image"
                                        width="250" height="250" loading="lazy"
                                    >
                                    <div class="cart-card__info">
                                        <div class="cart-card__info-left">
                                            <h3 class="cart-card__title">Название товара</h3>
                                            <p class="categorie">Категория</p>
                                            <button 
                                                class="cart-card__button button button-delete"
                                                type="button"
                                            >
                                                Удалить
                                            </button>
                                        </div>
                                        <ul class="cart-card__info-list">
                                            <li class="cart-card__info-item">
                                                <label for="price" class="cart-card__price">Цена, ₽</label>
                                                <p id="price" class="cart-card__price">55555</p>
                                            </li>
                                            <li class="cart-card__info-item">
                                                <label for="count" class="cart-card__count">Количество</label>
                                                <input 
                                                    type="numeric"
                                                    class="cart-card__count-input input"
                                                    id="count"
                                                    placeholder="шт"
                                                >
                                            </li>
                                            <li class="cart-card__info-item">
                                                <label for="amount" class="cart-card__info-amount">Стоимость</label>
                                                <p id="amount" class="cart-card__amount">65464</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="cart__summary">
                            <span>Итого:</span>
                            <p>9999</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        
        <section class="section container">
            <header class="section__header header">
                <h2 class="section__title h3">Детали доставки</h1>
            </header>
            <div class="section__body">
                <div class="delivery">
                    <ul class="delivery__list">
                        <li class="delivery__item">
                            <label for="radio-courier" class="visually-hidden">Отправка курьером</label>
                            <input id="radio-courier" type="radio" class="delivery__info-radio radio" name="delivery" value="courier">
                            <h4 class="delivery__info-title">Курьер:</h4>
                            <label for="address1" class="visually-hidden">Введите адрес</label>
                            <input 
                                type="text"
                                class="delivery__info-input input"
                                id="address1"
                                placeholder="Введите адрес"
                            >
                            <p>Стоимость доставки: 500₽</p>
                        </li>
                        <li class="delivery__item">
                            <label for="radio-mail" class="visually-hidden">Отправка почтой</label>
                            <input id="radio-mail" type="radio" class="delivery__info-radio radio" name="delivery" value="mail">
                            <h4 class="delivery__info-title">Почта:</h4>
                            <label for="address2" class="visually-hidden">Введите адрес</label>
                            <input 
                                id="address2"
                                type="text"
                                class="delivery__info-input input"
                                placeholder="Введите адрес"
                            >
                            <p>Стоимость доставки: 300₽</p>
                        </li>
                        <li class="delivery__item">
                            <label for="radio-pickup" class="visually-hidden">Самовывоз</label>
                            <input id="radio-pickup" type="radio" class="delivery__info-radio radio" name="delivery" value="pickup" checked required>
                            <h4 class="delivery__info-title">Самовывоз:</h4>
                            <address> 
                                <p>
                                    Адрес: 1234 Москва, ул. Ленина, д.1
                                </p>
                            </address>
                        </li>
                    </ul>
                    <div class="delivery__button-order">
                        <button 
                            class="cart-card__button button button-order"
                            type="submit"
                        >
                            Оформить заказ
                        </button>
                    </div> 
                </div>
            </div>
        </section>
    </main>
{% endblock %}