{% extends 'shop/base.html' %}
{% load static %}


{% block title %}Breeze — Корзина{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container section-blue">
            <header class="section__header header-center">
                <h1 class="section__title h2">Корзина</h1>
            </header>
            <div class="section__body">
                <div class="cart">
                    {% if items %}
                        <ul class="cart-cards_list">
                             {% for it in items %}
                                <li class="cart-cards_item">
                                    <div class="cart-card">
                                        <div class="cart-card__image-wrapper">
                                            <img src="{{ it.image }}" alt="{{ it.title }}" class="cart-card__image" width="250" height="250" loading="lazy">
                                        </div>
                                        <div class="cart-card__info">
                                            <div class="cart-card__info-left">
                                                <h3 class="cart-card__title">{{ it.title }}</h3>
                                                 {% comment %} если есть категория в product: {% if it.product.category %} {% endif %} {% endcomment %}
                                                <p class="categorie">
                                                    {% if it.product and it.product.category %}{{ it.product.category }}{% endif %}
                                                </p>
                                                <form action="{% url 'shop:remove_from_cart' it.product_id %}" method="post" style="display:inline">
                                                    {% csrf_token %}
                                                    <button class="cart-card__button button button-delete" type="submit">Удалить</button>
                                                </form>
                                            </div>
                                            <ul class="cart-card__info-list">
                                                <li class="cart-card__info-item">
                                                    <label class="cart-card__price">Цена, ₽</label>
                                                    <p class="cart-card__price">{{ it.price }}</p>
                                                </li>
                                                <li class="cart-card__info-item">
                                                     <form action="{% url 'shop:update_cart' %}" method="post" class="cart-card__info-qty">
                                                        {% csrf_token %}
                                                        <label class="cart-card__qty">Количество, шт</label>
                                                        <input type="hidden" name="product_id" value="{{ it.product_id }}">
                                                        <input 
                                                            name="qty"
                                                            type="number"
                                                            min="1"
                                                            value="{{ it.qty }}"
                                                            class="cart-card__count-input input"
                                                        >
                                                        <button class="button button-blue" type="submit">Обновить</button>
                                                    </form>
                                                </li>
                                                <li class="cart-card__info-item">
                                                    <label class="cart-card__info-amount">Стоимость, ₽</label>
                                                    <p class="cart-card__amount">{{ it.line_total }}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="cart__summary">
                            <span>Итого:</span>
                            <p>  {{ total }}, ₽</p>
                        </div>   
                    {% else %}
                        <p>Корзина пуста.</p>
                        <p>Чтобы добавить товары, перейдите в <a href="{% url 'shop:catalog' %}">каталог</a>.</p>
                    {% endif %}                
                </div>
            </div>
        </section>
        
        <section class="section container">
            <header class="section__header header">
                <h2 class="section__title h3">Детали доставки</h1>
            </header>
            <div class="section__body">
                <div class="delivery">
                    {% if user.is_authenticated %}
                        <form id="checkout-form">
                            {% csrf_token %}
                            <label><input type="radio" name="delivery" value="courier" data-cost="500" {% if form and form.initial.delivery_type == 'courier' %}checked{% endif %}> Курьер — 500₽</label>
                            <label><input type="radio" name="delivery" value="mail" data-cost="300" {% if form and form.initial.delivery_type == 'mail' %}checked{% endif %}> Почта — 300₽</label>
                            <label><input type="radio" name="delivery" value="pickup" data-cost="0" checked> Самовывоз — 0₽</label>

                            <label for="address" class="visually-hidden">Адрес</label>
                            <input id="address" name="address" type="text" placeholder="Адрес (если нужен)" class="input">

                            <label for="payment" class="visually-hidden">Оплата</label>
                            <select name="payment_method" id="payment" class="select">
                                <option value="card">Карта</option>
                                <option value="cash">Наличные</option>
                            </select>

                            <div class="cart__total">Итого: <span id="grand-total">{{ total }}</span> ₽</div>

                            <button id="checkout-button" class="cart-card__button button button-order" type="button">Оформить заказ</button>
                            <!-- <ul class="delivery__list">
                                <li class="delivery__item">
                                    <input id="radio-courier" type="radio" name="delivery" value="courier">
                                    <h4 class="delivery__info-title">Курьер:</h4>
                                    <input type="text" name="address_courier" class="delivery__info-input input" placeholder="Введите адрес">
                                    <p>Стоимость доставки: 500₽</p>
                                </li>
                                <li class="delivery__item">
                                    <input id="radio-mail" type="radio" name="delivery" value="mail">
                                    <h4 class="delivery__info-title">Почта:</h4>
                                    <input type="text" name="address_mail" class="delivery__info-input input" placeholder="Введите адрес">
                                    <p>Стоимость доставки: 300₽</p>
                                </li>
                                <li class="delivery__item">
                                    <input id="radio-pickup" type="radio" name="delivery" value="pickup" checked>
                                    <h4 class="delivery__info-title">Самовывоз:</h4>
                                    <address>Адрес: 1234 Москва, ул. Ленина, д.1</address>
                                </li>
                            </ul> -->

                            <!-- <div class="delivery__button-order">
                                <button id="checkout-button" class="cart-card__button button button-order" type="button">Оформить заказ</button>
                            </div> -->
                        </form>
                    {% else %}
                        <p>Корзина пуста. <a href="{% url 'shop:catalog' %}">Перейти в каталог</a></p>
                    {% endif %}
                </div>
            </div>
        </section>

        <dialog id="order-modal" class="modal" aria-hidden="true" role="dialog" style="display:none;">
            <div class="modal__backdrop"></div>
            <div class="modal__dialog" role="document" aria-labelledby="order-modal-title">
                <h2 id="order-modal-title">Заказ оформлен</h2>
                <p>Ваш заказ успешно оформлен, вы можете проверить его статус на странице "Мои заказы"</p>
                <button id="order-modal-ok" class="button">ОК</button>
            </div>
        </dialog>
    </main>
{% endblock %}