{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Каталог{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container section-blue">
            <header class="section__header header-center">
                <h1 class="section__title h2">Каталог</h1>
                {% if user.is_manager %}
                    <a href="{% url 'shop:product_create' %}" class="catalog__button button button-add">Добавить товар</a>
                {% endif %}
            </header>
            <div class="section__body">
                <div class="catalog">
                    <div class="catalog__filters">
                        <form method="get" class="catalog__filters-form">
                            <div class="catalog__filters-search">
                                <input type="text" name="q" value="{{ q }}" placeholder="Поиск" class="catalog__input input">
                            </div>
                            <div class="catalog__filters-cat-sort">
                                <span>Категория:</span>
                                <select name="category" id="categories" class="catalog__select select">
                                    <option value="default" {% if selected_category == "" or selected_category == "default" %}selected{% endif %}>По умолчанию</option>
                                    <option value="mono" {% if selected_category == "mono" %}selected{% endif %}>Моно-ароматы</option>
                                    <option value="author" {% if selected_category == "author" %}selected{% endif %}>Авторские композиции</option>
                                    <option value="popular" {% if selected_category == "popular" %}selected{% endif %}>Популярные композиции</option>
                                </select>
                                <span>Сортировать:</span>
                                <select name="sort" id="sort" class="catalog__select select">
                                    <option value="default" {% if sort == "default" or not sort %}selected{% endif %}>По умолчанию</option>
                                    <option value="increase" {% if sort == "increase" %}selected{% endif %}>Сначала дороже</option>
                                    <option value="reduction" {% if sort == "reduction" %}selected{% endif %}>Сначала дешевле</option>
                                </select>
                            </div>
                            <div class="catalog__filters-price">
                                <span>Цена от:</span>
                                <input type="number" name="price_min" value="{{ price_min }}" placeholder="От" class="input-min input">
                                <span>Цена до:</span>
                                <input type="number" name="price_max" value="{{ price_max }}" placeholder="До" class="input-max input">
                                <button type="submit" class="catalog__button button">Применить</button>
                            </div>
                        </form>
                    </div>
                    <div class="catalog__body">
                        <ul class="catalog__list">
                            {% for product in products %}
                                <li class="catalog__item">
                                <a href="{% url 'shop:product_detail' product.slug %}" class="catalog__link">
                                    <article class="product-card">
                                        <div class="product-card__image-wrapper">
                                            <div class="product-card__image">
                                                {% if product.image %}
                                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-card__image" width="300" height="300" loading="lazy">
                                                {% else %}
                                                    <img src="{% static 'images/image.png' %}" alt="{{ product.name }}" class="product-card__image">
                                                {% endif %}
                                            </div>
                                        </div>                                      
                                    <div class="product-card__info">
                                        <h3 class="product-card__name h4">{{ product.name }}</h3>
                                        <p class="product-card__category">{{ product.get_category_display }}</p>
                                        <p class="product-card__price">{{ product.price }} ₽</p>
                                    </div>
                                    </article>
                                </a>
                                </li>
                            {% empty %}
                                <li>Товаров не найдено.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="catalog__pagination pagination">
                        <div class="pagination__button-arrow">
                            {% if page_obj.has_previous %}
                                <div class="pagination__button-item">
                                    <a class="button" href="?{% if base_qs %}{{ base_qs }}&{% endif %}page={{ page_obj.previous_page_number }}">←</a>
                                </div>
                            {% else %}
                                <div class="pagination__button-item"><span class="button disabled">←</span></div>
                            {% endif %}
                        </div>
                        <div class="pagination">
                            {# Показываем небольшой диапазон страниц вокруг текущей #}
                            {% for num in page_obj.paginator.page_range %}
                                {% if num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                                    <ul class="pagination__list">
                                        {% if num == page_obj.number %}
                                            <li class="pagination__item"><span class="pagination__button is-current"></span></li>
                                        {% else %}
                                            <li class="pagination__item"><a class="pagination__button" href="?{% if base_qs %}{{ base_qs }}&{% endif %}page={{ num }}"></a></li>
                                        {% endif %}
                                    </ul>    
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="pagination_button-arrow">
                            {% if page_obj.has_next %}  
                                <div class="pagination__button-item">
                                    <a class="button" href="?{% if base_qs %}{{ base_qs }}&{% endif %}page={{ page_obj.next_page_number }}">→</a>
                                </div>
                            {% else %}
                                <div class="pagination__button-item"><span class="button disabled">→</span></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}