<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, user-scalable=no, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/breeze-django/static/styles/styles.css">
    <title>Breeze - Каталог</title>
</head>
<body>
    <header class="header">
        <div class="header__inner container">
            <div class="header__logo">
                <a href="/index.html" class="header__logo logo">
                    <img 
                        src="../static/images/logo.png" 
                        alt="" 
                        class="logo__image none"
                        width="90" height="60" loading="lazy"
                    >
                </a>
                <h2 class="header__logo-title">breeze</h2>
            </div>
            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a href="./index.html" class="header__menu-link">Главная</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="../static/all-news.html" class="header__menu-link">Новости</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="../static/catalog.html" class="header__menu-link">Каталог</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="../static/cart.html" class="header__menu-link">Корзина</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="../static/checkout.html" class="header__menu-link">Мои заказы</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="../static/orders.html" class="header__menu-link">Заказы</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="../static/contacts.html" class="header__menu-link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__auth">
                <a 
                    class="header__button button button-login" 
                    type="button-class"
                    href="/breeze-django/static/log-in.html"
                >
                    Войти
                </a>
                <a 
                    class="header__button button button-signup" 
                    type="button-class"
                    href="/breeze-django/static/sign-up.html"
                >
                    Регистрация
                </a>
            </div>
        </div>
    </header>

    <main class="content">
        <section class="section container section-gradient">
            <header class="section__header header-center">
                <h1 class="section__title h2">Каталог</h1>
                <button 
                    class="catalog__button button button-add"
                    type="submit"
                >
                    Добавить товар
                </button>
            </header>
            <div class="section__body">
                <div class="catalog">
                    <div class="catalog__filters">
                        <div class="catalog__filters-search">
                            <label for="search" class="visually-hidden">Поиск</label>
                            <input 
                                type="text"
                                class="catalog__input input"
                                id="search"
                                placeholder="Поиск"
                            >
                        </div>
                        <div class="catalog__filters-cat-sort">
                            <div class="catalog__filters-categories">
                                <label for="categories" class="visually-hidden"></label>
                                <span>Категория:</span>
                                <select id="categories" class="catalog__select select">
                                    <option value="default" selected>По умолчанию</option>
                                    <option value="mono">Моно-ароматы</option>
                                    <option value="author-composition">Авторские композиции</option>
                                    <option value="popular-composition">Популярные композиции</option>
                                </select>
                            </div>
                            <div class="catalog__filters-sort">
                                <label for="sort" class="visually-hidden"></label>
                                <span>Сортировать:</span>
                                <select id="sort" class="catalog__select select">
                                    <option value="default" selected>По умолчанию</option>
                                    <option value="increase">Сначала дороже</option>
                                    <option value="reduction">Сначала дешевле</option>
                                </select>
                            </div>
                        </div>
                        <div class="catalog__filters-price">
                                    <div class="catalog__filters-price--field">
                                        <span>Цена от:</span>
                                        <input 
                                            type="number" 
                                            class="input-min input" 
                                            value="0"
                                        >
                                    </div>
                                    <div class="catalog__filters-price--field">
                                        <span>Цена до:</span>
                                        <input 
                                            type="number" 
                                            class="input-max input" 
                                            value="10000"
                                        >
                                    </div>
                                    <div class="catalog__filters-button">      
                                        <button 
                                            class="catalog__button button"
                                            type="submit"
                                        >
                                            Применить
                                        </button>
                                    </div>
                        </div>
                    </div>
                    <div class="catalog__body">
                        <button 
                            class="catalog__button button button-arrow"
                            type="button"
                        >
                            <
                        </button>
                        <ul class="catalog__list grid grid--4">
                            <li class="catalog__item">
                                <a href="/product-page.html" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="../static/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="/" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="../static/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="/" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="../static/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="/" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="../static/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="/" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="../static/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="/" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="../static/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="/" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="../static/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a href="/" class="catalog__link">
                                    <article class="product-card">
                                        <img 
                                            src="/images/catalog/product1.jpg" 
                                            alt="" 
                                            class="product-card__image"
                                            width="300" height="300" loading="lazy"
                                        >
                                        <div class="product-card__info">
                                            <h3 class="product-card__name h4">Название товара</h3>
                                            <p class="product-card__price">Цена товара</p>
                                        </div>
                                        <button 
                                            class="product-card__button button button-blue"
                                            type="button"
                                        >
                                            Подробнее
                                        </button>
                                    </article>
                                </a>
                            </li>
                        </ul>
                        <button 
                            class="catalog__button button button-arrow"
                            type="button"
                        >
                            >
                        </button>
                    </div>
                    <div class="catalog__pagination pagination">
                                <ul class="pagination__list">
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button is-current"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Первый слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Второй слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                            <span class="visually-hidden">Третий слайд</span>
                                        </button>
                                    </li>
                                    <li class="pagination__item">
                                        <button
                                            class="pagination__button"
                                            type="button"
                                        >
                                        </button>
                                    </li>    
                                </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer container">
        <div class="footer__inner">
            <div class="footer__body">
                <div class="footer__logo">
                    <a href="/index.html" class="footer__logo logo">
                        <img 
                            src="../static/images/logo.png" 
                            alt="" 
                            class="logo__image none"
                            width="80" height="60" loading="lazy"
                        >
                        <p class="h3">breeze</p>
                    </a>
                </div>
                <div class="footer__body-menu">
                    <div class="footer__nav">
                        <h3 class="footer__title">Навигация</h3>
                        <nav class="footer__menu">
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item">
                                    <a href="/index.html" class="footer__menu-link">Главная</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="../static/catalog.html" class="footer__menu-link">Каталог</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="../static/all-news.html" class="footer__menu-link">Новости</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="../static/contacts.html" class="footer__menu-link">Контакты</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="../static/cart.html" class="header__menu-link">Корзина</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="../static/checkout.html" class="header__menu-link">Мои заказы</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="../static/orders.html" class="header__menu-link">Заказы</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__contacts">
                        <h3 class="footer__title">Контакты</h3>
                        <address class="footer__contacts-body">
                            <p>Email: <a href="mailto:info@positivus.com">info@breezeparfume.com</a></p>
                            <p>Телефон: <a href="tel:5555678901">555-567-8901</a></p>
                            <p>
                                Адрес: 1234 <br/>
                                Москва, ул. Ленина, д.1
                            </p>
                        </address>
                    </div>
                </div>
            </div>
            <div class="footer__extra">
                <p>©<time datetime="2025">2025</time> Парфюмерная мастерская "breeze".</p>
                <p>Сайт разработан студенткой Бирюковой Д.С. в рамках курсового проекта</p>
            </div>
        </div>
    </footer>
</body>
</html>