{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Контакты{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container section-blue">
            <header class="section__header header-center">
                <h1 class="section__title h2">Контакты</h1>
            </header>
            <div class="section__body">
                <div class="contacts">
                            <ul class="contacts__body-list">
                                <li class="contacts__body-item">
                                    <h3 class="contacts__body-title">Email:</h3>
                                    <div class="contacts__body-description">
                                        <p><a href="mailto:info@positivus.com">info@breezeparfume.com</a></p>
                                    </div>
                                </li>
                                <li class="contacts__body-item">
                                    <h3 class="contacts__body-title">Телефон:</h3>
                                    <div class="contacts__body-description">
                                        <p><a href="tel:5555678901">555-567-8901</a></p>
                                    </div>
                                </li>
                                <li class="contacts__body-item">
                                    <h3 class="contacts__body-title">Адрес:</h3>
                                    <div class="contacts__body-description">
                                        <p>
                                            1234 Москва, ул. Ленина, д.1
                                        </p>
                                </li>
                            </ul>
                </div>
            </div>
        </section>
    </main>
{% endblock %}