{% load static %}
<footer class="footer container">
        <div class="footer__inner">
            <div class="footer__body">
                <div class="footer__logo">
                    <a href="{% url 'shop:index' %}" class="footer__logo logo">
                        <img 
                            src="{% static 'images/logo.png' %}" 
                            alt="breeze" 
                            class="logo__image none"
                            width="80" height="60" loading="lazy"
                        >
                        <p class="h3">breeze</p>
                    </a>
                </div>
                <div class="footer__body-menu">
                    <div class="footer__nav">
                        <h3 class="footer__title">Навигация</h3>
                        <nav class="footer__menu">
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item">
                                    <a href="{% url 'shop:index' %}" class="footer__menu-link">Главная</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'shop:catalog' %}" class="footer__menu-link">Каталог</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'shop:all_news' %}" class="footer__menu-link">Новости</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'shop:contacts' %}" class="footer__menu-link">Контакты</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'shop:cart' %}" class="header__menu-link">Корзина</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'shop:checkout' %}" class="header__menu-link">Мои заказы</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'shop:orders' %}" class="header__menu-link">Заказы</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__contacts">
                        <h3 class="footer__title">Контакты</h3>
                        <address class="footer__contacts-body">
                            <p>Email: <a href="mailto:info@positivus.com">info@breezeparfume.com</a></p>
                            <p>Телефон: <a href="tel:5555678901">555-567-8901</a></p>
                            <p>
                                Адрес: 1234 <br/>
                                Москва, ул. Ленина, д.1
                            </p>
                        </address>
                    </div>
                </div>
            </div>
            <div class="footer__extra">
                <p>©<time datetime="2025">2025</time> Парфюмерная мастерская "breeze".</p>
                <p>Сайт разработан студенткой Бирюковой Д.С. в рамках курсового проекта</p>
            </div>
        </div>
</footer>