{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — {{ news.title }}{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container">
            <div class="section__body">
                <div class="news-page">
                    <div class="news-page__buttons">
                        <a class="news-page__button button button-white" 
                            href="{% url 'shop:news_list' %}"
                        >
                            Назад
                        </a>
                        {% if user.is_authenticated and user.is_superuser or user.is_authenticated and user.profile.role == 'manager' %}
                            <div class="news-page__buttons-admin">
                                <a href="{% url 'shop:news_edit' news.pk %}" class="news-page__button button button-edit">Редактировать</a>
                                <form action="{% url 'shop:news_delete' news.pk %}" method="post" style="display:inline">
                                {% csrf_token %}
                                <button class="news-page__button button button-delete" type="submit">Удалить</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <div class="news-page__body">
                        <div class="news-page__text">
                            <h1 class="news-page__title h3">{{ news.title }}</h1>
                            <div class="news-page__description">{{ news.content|linebreaks }}</div>
                        </div>
                        <div class="news-page__extra">
                            <time class="news-page__date" datetime="{{ news.published_at }}">{{ news.published_at }}</time>
                            {% if news.image %}
                            <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-page__image" width="500" height="400" loading="lazy">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}