{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Новость{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container">
            <div class="section__body">
                <div class="news-page">
                    <div class="news-page__buttons">
                        <a 
                            class="news-page__button button button-white"
                            href="../static/all-news.html"
                        >
                            Назад
                        </a>
                        {% if user.is_authenticated and (user.is_superuser or user.profile.role == 'manager') %}
                            <div class="news-page__buttons-admin">
                                <button 
                                class="news-page__button button button-edit"
                                type="submit"
                                >
                                    Редактировать
                                </button>
                                <button 
                                    class="news-page__button button button-delete"
                                    type="submit"
                                >
                                    Удалить
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="news-page__body">
                        <div class="news-page__text">
                            <h1 class="news-page__title h2">
                                <p>Заголовок новости</p>
                            </h1>
                            <div class="news-page__description">
                                <p>descriptiondescri ptiondes criptiondescriptiondescrip tiond escriptiondesc  riptiondes riptio ndes criptiond escriptiondescr iptiondescrip tiondescri ptionde   scrip  tiondes criptiondescri pt on des cription</p>
                            </div>
                        </div>
                        <div class="news-page__extra">
                            <time class="news-page__date" datetime="10.12.2024">10.12.2024</time>
                            <img 
                                src="../static/images/news_1.jpg" 
                                alt="" 
                                class="news-page__image"
                                width="500" height="400" loading="lazy"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}