{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Товар{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container section-blue">
            <div class="section__body">
                <div class="product-page">
                    <div class="product-page__buttons">
                        <a 
                            class="product-page__button button button-white"
                            href="../static/catalog.html"
                        >
                            Назад
                        </a>
                        {% if user.is_authenticated and (user.is_superuser or user.profile.role == 'manager') %}
                            <div class="product-page__buttons-admin">
                                <button 
                                class="product-page__button button button-edit"
                                type="submit"
                                >
                                    Редактировать
                                </button>
                                <button 
                                    class="product-page__button button button-delete"
                                    type="submit"
                                >
                                    Удалить
                                </button>
                            </div>
                        {% endif %}    
                    </div>
                    <div class="product-page__body">
                        <img 
                            src="/images/catalog/product1.jpg" 
                            alt="" 
                            class="product-page__image"
                            width="500" height="400" loading="lazy"
                        >
                        <div class="product-page__text">            
                            <div class="product-page__text-inner">
                                <h1 class="product-page__title h2">
                                    <p>Название товара</p>
                                </h1>
                                <div class="product-page__categorie">
                                    <p>Категория</p>
                                </div>
                                <div class="product-page__description">
                                    <p>descriptiondescri ptiondes criptiondescriptiondescrip tiond escriptiondesc  riptiondes riptio ndes criptiond escriptiondescr iptiondescrip tiondescri ptionde   scrip  tiondes criptiondescri pt on des cription</p>
                                </div>
                            </div>
                            <div class="product-page__buy">
                                <div class="product-page__price">
                                    <p>Цена: 10000</p>
                                </div>
                                <button 
                                    class="product-page__button button button-cart"
                                    type="submit"
                                >
                                    Добавить в корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}