{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Товар{% endblock %}

{% block content %}
    <main class="content">
        <section class="section container section-blue">
            <div class="section__body">
                <div class="product-page">
                    <div class="product-page__buttons">
                         <a class="product-page__button button button-white" href="{% url 'shop:catalog' %}">Назад</a>
                        {% if is_manager %}
                            <div class="product-page__buttons-admin">
                                <a href="{% url 'shop:product_edit' product.slug %}" class="product-page__button button button-edit">Редактировать</a>
                                <form method="post" action="{% url 'shop:product_delete' product.slug %}">
                                    {% csrf_token %}
                                    <button class="product-page__button button button-delete">Удалить</button>
                                </form>
                            </div>
                        {% endif %}    
                    </div>
                    <div class="product-page__body">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-page__image" width="500" height="400" loading="lazy">
                        {% else %}
                            <img src="{% static 'images/image.png' %}" alt="{{ product.name }}" class="product-page__image">
                        {% endif %}

                        <div class="product-page__text">
                            <div class="product-page__text-inner">
                            <h1 class="product-page__title h2">{{ product.name }}</h1>
                            <div class="product-page__categorie">
                                <p>{{ product.get_category_display }}</p>
                            </div>
                            <div class="product-page__description">
                                <p>{{ product.description|linebreaksbr }}</p>
                            </div>
                            </div>

                            <div class="product-page__buy">
                            <div class="product-page__price">
                                <p>Цена: {{ product.price }} ₽</p>
                            </div>
                            {% if user.is_manager %}
                                <form action="{% url 'shop:add_to_cart' product_id=product.pk %}" method="post">
                                {% csrf_token %}
                                <button class="product-page__button button button-cart" type="submit">Добавить в корзину</button>
                                </form>
                            {% else %}
                                {# менеджер видит не корзину #}
                            {% endif %}
                        </div>
                        <!-- <div class="product-page__text">            
                            <div class="product-page__text-inner">
                                <h1 class="product-page__title h2">
                                    <p>Название товара</p>
                                </h1>
                                <div class="product-page__categorie">
                                    <p>Категория</p>
                                </div>
                                <div class="product-page__description">
                                    <p>descriptiondescri ptiondes criptiondescriptiondescrip tiond escriptiondesc  riptiondes riptio ndes criptiond escriptiondescr iptiondescrip tiondescri ptionde   scrip  tiondes criptiondescri pt on des cription</p>
                                </div>
                            </div>
                            <div class="product-page__buy">
                                <div class="product-page__price">
                                    <p>Цена: 10000</p>
                                </div>
                                <button 
                                    class="product-page__button button button-cart"
                                    type="submit"
                                >
                                    Добавить в корзину
                                </button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}