@font-face {
    font-family: 'Comfortaa';
    src: url('/breeze-django/static/fonts/Comfortaa-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/breeze-django/static/fonts/Comfortaa-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}