.cart {
    padding: 0 100px 60px;

    &-card {
        display: flex;
        column-gap: 40px;
        padding-block: 40px;

        border-bottom: var(--border);

        &__info {
            display: flex;
            column-gap: 200px;
            padding: 10px;

            &-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-list {
                display: flex;
                justify-self: center;
                column-gap: 30px;
                padding-top: 10px;
            }

            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
            }

            &-qty {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
            }
        }

        &__image {
            &-wrapper {
                position: relative;
                overflow:hidden;
                width:300px;
                height:300px;
            }

            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:100%;
            height:100%;
            object-fit:cover;
        }

        &__count-input {
            display: flex;
            justify-items: center;
            width: 80px;
            padding: 10px;
        }

        & label {
            cursor: text;
        }
    }

    &__summary {
        display: flex;
        justify-content: end;
        column-gap: 10px;
        padding: 30px;
        font-size: 28px;
    }
}