.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px 100px;

    &__filters {
        &-form {
            display: flex;
            flex-direction: column;
            align-self: center;
    
            row-gap: 15px;
            margin-bottom: 50px;
        }

            &-search {
                display: flex;
                align-self: center;
            }
    
            &-cat-sort {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 15px;
            }
    
            &-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 20px;
            }
    }

    &__input {
        width: 850px;
    }

    &__body {
        display: flex;
        align-items: center;
        column-gap: 80px;
        margin-bottom: 50px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__link {
        &:hover {
            filter: brightness(0.9);
            text-decoration: underline;
        }

        &:active {
            transform: scale(0.95);
            transition-duration: var(--transition-duration);
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
    }
}