.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px 60px;

    &__filters {
        display: flex;
        flex-direction: column;
        align-self: center;

        row-gap: 15px;
        margin-bottom: 50px;

        &-search {
            display: flex;
        }

        &-cat-sort {
            display: flex;
            justify-content: center;
            column-gap: 30px;
        }

        &-price {
            display: flex;
            justify-content: center;
            column-gap: 30px;
            margin-bottom: 10px;

            &--field {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
        }

        &-button {
            padding-left: 50px;
        }
    }

    &__input {
        width: 850px;
    }

    &__body {
        display: flex;
        align-items: center;
        column-gap: 40px;
        margin-bottom: 50px;
    }

    &__list {
        row-gap: 30px;
    }

    &__pagination {
        display: flex;
        justify-content: center;
    }
}