.contacts {
    padding: 0px 60px 100px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 60px;
        row-gap: 30px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-self: start;

        &-item {
            display: flex;
            align-items: center;
            column-gap: 20px;
            padding: 15px;
            font-size: 24px;
        }

        &-description {
            a {
                &:hover {
                    color: var(--color-blue);
                }

                &:active {
                    color: var(--color-light);
                }
            }
            
        }
    }
}