.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue);
    font-size: 14px;

    &__inner {
        padding: 40px 60px 15px;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }

    &__body {
        display: flex;
        column-gap: 100px;
        border-bottom: 1px solid currentColor;
        padding-bottom: 30px;
        
        &-menu {
            display: flex;
            column-gap: 200px;

            a {
                &:hover {
                    color: var(--color-light);
                }
                
                &:active {
                    transform: scale(0.9);
                    transition-duration: var(--transition-duration);
                }
            }
        }
    }

    &__title {
        margin-bottom: 12px;
        color: var(--color-dark);
        font-size: 18px;
    }

    &__menu {
        &-list {
            row-gap: 5px;
        }
    }

    &__extra {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-inline: 20px;
    }
}