.grid {
    --gridColumns: 1;
    --gridRows: 1;

    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    grid-template-rows: repeat(var(--gridRows), 1fr);
    gap: 20px;

    @for $i from 2 through 12 {
        &--#{$i} {
            --gridColumns: #{$i};
        }
    }

    &--1 {
        --gridColumns: 3;
        --gridRows: 1;
    }

    &--3 {
        --gridColumns: 3;
        --gridRows: 2;
    }
}