.input {
    display: flex;
    padding: 8px 30px;
    border: var(--border);
    border-radius: var(--border-radius);
    min-width: 100px;

    &:hover {
        filter: brightness(0.9);
    }

    &-min,
    &-max {
        padding-left: 15px;
        width: 130px;
    }
}

.select {
    padding: 10px 30px;
    border: var(--border);
    border-radius: var(--border-radius);
    padding-inline: 20px;

    &:hover {
        filter: brightness(0.9);
    }
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: var(--border);
    border-radius: 50%;
    background-color: transparent;

    &:checked {
        border: 10px solid var(--color-blue);
    }

    &:hover {
        background-color: var(--color-light-blue);
    }
}