.log-in {
    padding: 0 100px 100px;
    display: flex;
    justify-content: center;
    
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding: 50px 100px ;
        background-color: var(--color-light);
        border: var(--border);
        border-radius: var(--border-radius-large);
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__button {
        display: flex;
        justify-content: center;
    }

    &__sign-up {
        display: flex;
        column-gap: 30px;
        align-items: center;
    }
}