.news {
    display: flex;
    justify-content: center;
    padding: 0px 60px 40px;
    background-color: var(--color-light-blue);

    &__slider {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;       
    }

    &__list {
        display: flex;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
    }

    &__item {
        min-width: 500px;
        scroll-snap-align: start;
    }
}