.news {
    display: flex;
    justify-content: center;
    padding: 0px 60px 60px;
    background-color: var(--color-light-blue);

    &__slider {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;       
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 50px;

        &--index {
            display: flex;
            column-gap: 50px;
        }
    }

    &__item {
        width: 500px;
        height: auto;

        &--index {
            width: 400px;
        }
    }
}