.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 0px 100px 60px;

}

.order {
    display: flex;
    justify-content: space-between;
    min-width: 70%;
    column-gap: 40px;
    padding: 50px;
    background-color: var(--color-light);
    border: var(--border);
    border-radius: var(--border-radius-large);

    & table  {
        column-gap: 20px;
        padding: 15px;
        border-collapse: collapse;

        & td {
            padding: 15px;
            border: var(--border);
        }

        & th {
            padding: 15px;
            border: var(--border);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-right: 80px;
        margin-bottom: 30px;

        &-card {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }

        &-products {
            display: flex;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 40px;
        }

        &-extra {
            display: flex;
            flex-direction: column;  
            row-gap: 40px;      
        }

        
    }

    &__buttons {
        display: flex;
        flex-direction: column;
    }

    &__interactive {
        display: flex;
        align-self: end;

        &-status {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
    }


}