.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 15px;
    background-color: var(--color-light);
    border: var(--border);
    border-radius: var(--border-radius);

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        &-wrapper {
            position: relative;
            overflow:hidden;
            width:350px;
            height:350px;
        }

        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:100%;
        height:100%;
        object-fit:cover;
    }
}