.product-form { 
    padding-bottom: 60px;

    &__wrapper {
        display: flex;
        justify-self: center;
        padding: 50px;
        background-color: var(--color-light);
        border: var(--border);
        border-radius: var(--border-radius-large);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 20px;
        max-width: 500px;
        background-color: var(--color-light-blue);
        border-radius: var(--border-radius);
    }

    &__buttons {
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }

    &__log-in {
        display: flex;
        column-gap: 30px;
        align-items: center;
    }
}