

{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Вход — Breeze{% endblock %}

{% block content %}
<main class="content">
  <section class="section container section-blue">
    <header class="section__header header-center">
      <h1 class="section__title h2">Вход</h1>
    </header>
    <div class="section__body">
      <div class="log-in">
        <form method="post" class="log-in__form" novalidate>
          {% csrf_token %}
          <h2 class="log-in__title">Войти в аккаунт</h2>
          {% if error %}
            <div class="form-error">{{ error }}</div>
          {% endif %}
          <div class="log-in__fields">
            {{ form.non_field_errors }}
            <ul class="log-in__list">
              <li class="log-in__item">
                {{ form.username_or_email.label_tag }}
                {{ form.username_or_email }}
                {{ form.username_or_email.errors }}
              </li>
              <li class="log-in__item">
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
              </li>
            </ul>
          </div>
          <div class="log-in__button">
            <button class="log-in__button button button-blue" type="submit">Войти</button>
          </div>
          <div class="log-in__sign-up">
            <span>Нет аккаунта?</span>
            <a href="{% url 'accounts:register' %}" class="button button-signup">Регистрация</a>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}
