{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Breeze — Регистрация{% endblock %}

{% block content %}
<main class="content">
  <section class="section container section-blue">
    <header class="section__header header-center">
      <h1 class="section__title h2">Регистрация</h1>
    </header>
    <div class="section__body">
      <div class="sign-up">
        <form method="post" class="sign-up__form" novalidate>
          {% csrf_token %}
          <h2 class="sign-up__title">Создайте аккаунт</h2>
          <span class="sign-up__reminder">Заполните все поля формы</span>

          <div class="sign-up__fields">
            <ul class="sign-up__list">
              {% if form %}
                {% for field in form %}
                  <li class="sign-up__item">
                    <label for="{{ field.id_for_label }}" class="sign-up-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}<small class="help">{{ field.help_text }}</small>{% endif %}
                    {% if field.errors %}
                      <div class="field-errors">{{ field.errors|striptags }}</div>
                    {% endif %}
                  </li>
                {% endfor %}
              {% else %}
                <li class="sign-up__item">
                  <label for="name" class="sign-up-label">Имя:</label>
                  <input id="name" type="text" class="sign-up-input input" placeholder="Имя" name="name" required>
                </li>
                <li class="sign-up__item">
                  <label for="email" class="sign-up-label">E-mail:</label>
                  <input id="email" type="email" class="sign-up-input input" placeholder="E-mail" name="email" required>
                </li>
                <li class="sign-up__item">
                  <label for="password" class="sign-up-label">Пароль:</label>
                  <input id="password" type="password" class="sign-up-input input" placeholder="Пароль" name="password" required>
                </li>
                <li class="sign-up__item">
                  <label for="repassword" class="sign-up-label">Подтвердите пароль:</label>
                  <input id="repassword" type="password" class="sign-up-input input" placeholder="Подтвердите пароль" name="password2" required>
                </li>
              {% endif %}
            </ul>
          </div>

          <div class="sign-up__button">
            <button class="sign-up__button button button-signup" type="submit">Создать аккаунт</button>
          </div>

          <div class="sign-up__log-in">
            <span class="sign-up__log-in-message">У Вас уже есть аккаунт?</span>
            <a href="{% url 'accounts:login' %}" class="sign-up__button button button-blue button-log-in">Войти</a>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}
